  /* sidebar */
 .navbar {
  background-color: #3f4079;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 100000;
  position: fixed;
  top: 0;
  overflow: hidden;
  }
    
.menu-bars {
  margin-left: 1rem;
  font-size: 25px;
   background: none;
}

.nav-menu {
  background-color:  #212529;
  width: 250px;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 60px;
  left: -100%;
  overflow: auto;
  transition: 2000ms;
}

.nav-menu.active {
  left: 0;
  transition: 700ms;
  transition-delay: 0s;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #3f4079;
  color: white;
}

.nav-menu-items {
  width: 100%;
}
 
span {
  margin-left: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Lato', sans-serif;
}

.home,
.reports,
.products {
display: flex;
height: 90vh;
align-items: center;
justify-content: center;
font-size: 3rem;
}

.nav-menu{
  z-index: 1000;
}


